@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
html{
    height: -webkit-fill-availible;
}
* {
    padding: 0px;
    margin: 0px;
    border: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.container
{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.togglebox
{
    position: absolute;
    width: 20%;
    height: 5vh;
    right: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

label
{
    position: relative;
    background-color: black;
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 10vw;
    box-shadow: inset 0px 1px 3px black, inset 0px -1px 3px white;
    cursor: pointer;
    transition: 0.3s;
}

label:after
{
    content: "";
    width: 40%;
    height: 90%;
    background-color: white;
    border-radius: 90%;
    position: absolute;
    top: 5%;
    left: 10%;
    transition: 0.3s;
}

#toggle
{
    width: 0;
    height: 0;
    visibility: hidden;
}

#toggle:checked + label
{
    background-color: white;
}

#toggle:checked + label:after
{
    left: 90%;
    transform: translateX(-100%);
    background-color: black;
}

section
{
    height: 100vh;
    scroll-snap-align: start;
}

.one
{
    background-image: url("beautiful-pink-rose-flower-frame-with-watercolor-for-wedding-birthday-card-background-invitation-wallpaper-sticker-decoration-etc-vector.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two
{
    background: linear-gradient(96deg, #fff 50%, #D0D5CE calc(50% + 1px));
}

.portfolioone
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10%;
    width: 100%;
}

.portfolioone > #picture
{
    animation: fadeeRight 3s backwards;
}

.portfolioone > #info
{
    animation: fadeeLeft 2s 1s backwards;
}

.portfoliotwo
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.portfoliotwo > #picture
{
    animation: fadeeLeft 3s backwards;
}

.portfoliotwo > #info
{
    animation: fadeeRight 2s 1s backwards;

}

#picture
{
    height: 36vh;
    width: 48vw;
    margin-top: 10%;
}

#info
{
    flex: 1;
    align-self: center;
}

.bigtwo
{
    font-size: 25px;
}

.content 
{
    font-size: 1rem;
}

.three
{
    position: relative;
    background: linear-gradient(-96deg, #D0D5CE 50%, #fff calc(50% + 1px));
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame
{
    position: absolute;
    background-image: url(images-removebg-preview.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80vw;
    height:90vh;
    animation: slideUp 2s backwards;
}

.box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9c938a;
    width: 72vw;
    height: 85vh;
    border-radius: 17.5vw;
    animation: slideUp 2s backwards;
}

.bigthree
{
    margin-top: 10%;
    font-size: 2rem;
}

.line
{
    background-color:#fac585 ;
    width: 45vw;
    height: 1px;
}

.date
{
    margin-top: 2.5%;
    margin-bottom: 5%;
    font-family: 'Courier New', Courier, monospace;
}

.location
{
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}

.googlelocation
{
    color: #fac585;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
    width: 35%;
    height: 5%;
}

p{
    display: inline-block;
    font-family: 'Playwrite BE VLG';
    color: #fac585;
    /* text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black */
}

#canv
{
    margin-top: 25%;
    animation: fadeeDown 2s backwards;
}

.bigone
{
    font-size: 30px;
    margin-top: 5%;
    animation: fadeeUp 2s 1s backwards;
}

.bottomText
{
    font-family:'Playfair Display' ;
    font-style: italic;
    font-size: 30px;
    animation: fadeeUp 2s 1s backwards;
}

#timer
{
    margin-bottom: 40%;
}

.arch
{
    background-image: url("F0tTCDuWYAAJ5Q4.jpg");
    background-size: 110%;
    background-position: 0 10%;
    width:200px;
    height: 300px;
    background-color: black;
    border-radius: 100%/160% 160% 20% 20%;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeeUp {
    from{
        opacity: 0;
        transform: translateY(100px) scale(0);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeeDown {
    from{
        opacity: 0;
        transform: translateY(-100px) scale(0);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeeRight {
    from{
        transform: translateX(-300px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeeLeft {
    from{
        transform: translateX(300px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideUp {
    from{
        transform: translateY(300px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
